.nav {
    background-color: $bg-darker;
    border-bottom: 2px solid $outline;

    &-inner {
        max-width: 1080px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 25px $mobile-padding;

        @include mq($tablet-bp) {
            padding: 25px $tablet-padding;
        }
    }

    a {
        display: flex;
        align-items: center;

        .logo {
            width: 115px;
        }
    }
}
