// ------- Colours --------
$bg: #15171f;
$bg-darker: #0d0f17;
$bg-lighter: #1e2128;
$outline: #1f2229;
$primary: #6180ff;
$eyebrow: #545455;
$firstPlace: #edcf7c;
$secondPlace: #c6c5c7;
$thirdPlace: #cf9b80;
$fieldColour: rgba(255, 255, 255, 0.55);

// ------- Padding & Margins --------
$mobile-padding: 20px;
$tablet-padding: 32px;

// ------- Fonts --------
$main-font: "Be Vietnam Pro", sans-serif;

// ------- Breakpoints --------
$tablet-bp: 768px;
$desktop-bp: 1080px;
